{% extends 'base.html' %}

{% block title %}
    Elminar empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar empleado: {{ object.full_name}}</h1>
        <form method="POST" class="cell">{% csrf_token%}
            <P>Confirme que desea eliminar el registro</P>
            <button type="submit" class="alert button">Confirmar</button>
        </form>

    </div>

</div>

{% endblock content %}
